$primary: #eb1c28;
$secondary: #f7c90e;

#footer{
    background: $primary;
    padding-bottom: 30px;
    text-align: center;

    p, a{
        font-family: 'SpecialElite-Regular';
        color: $secondary;
        font-size: 2em;
        margin: 0;
        line-height: calc(1em * 1.5);
        word-break: break-word;
        text-decoration: none;

        span{ background: #8e131a; }
    }

    .container{
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;

        a{ 
            width: calc(100%/5);

            @media screen and (max-width: 490px){
                width: 50%;
            }
         }

        img{
            height: initial;
            width: 65%;

            @media screen and (max-width: 490px){
                width: 90%;
            }
        }
    }

    .credits{
        display: flex;
        margin-top: 100px;
        justify-content: center;

        .box{
            margin: 0 40px;
            text-align: left;
            a, p{ font-size: 1.2em }

            img{ width: 100px; }

            &:nth-child(3){
                svg{ cursor: pointer;}
                svg:first-of-type{
                    margin-right: 20px;
                }
            }
        }
    }
}