form{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}

input {
    width: 100%;
    font-size: 1.1em;
    padding: 3px;
    border-radius: 3px;
}

button{
    width: 20%;
    border-radius: 3px;
    font-size: 1em;
    border: none;
    padding: 8px 0;
    margin: 0 auto;
    outline: none;
    background: #f142b3;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    transition-duration: .2s;
    margin-top: 50px;
    border-bottom: 2px solid #901564;
}

button:hover {
    transform: translateY(-3px);
    border-bottom: 4px solid #901564;
}

.flex{
    display: flex;
    -webkit-display: flex;
}

.flex input{
    margin: 0 10px;
}