#home{
    height: 90vh;
}

#home div#mouseparallax {
    z-index: -999;
    width: 70%;
    display: block;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    padding-left: 250px;
    position: fixed !important;
    display: none;
}

#home .brain img{
    height: 450px;
}

#home h1{
    padding: 0 20%;
    font-weight: 100;
    font-size: 8em;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    color: #444;
}

@media screen and (max-width: 1600px){
    #home h1{
        font-size: 6em;   
    }
}

@media screen and (max-width: 1400px){
    #home h1{
        font-size: 4em;   
    }
}

#home h1 em{
    color: #000;
    background-color: #333;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
   transition-duration: .2s;
}

#home h1.pre-load{
    display: none;
}

#home .box{
    width: 60%;
    margin: 0 auto;
    background: #FFF;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 25px rgba(0,0,0, 0.12);
    transform: translateY(40px);
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
}

#home .box .esq{
    margin-right: 10px;
}

#home .box .esq::before {
    content: 'Teaser trailer';
    position: absolute;
    top: -35px;
    left: -30px;
    font-family: 'Indie Flower', cursive;
    color: #9c9c9c;
    font-size: 1.3em;
}

#home .box .esq::after{
    content: '';
    background-image: url(../res/curved.png);
    position: absolute;
    width: 60px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    top: -45px;
    left: 85px;
    opacity: .3;
}

#home .box .dir{
    background: red;
    width: 80%
}

#home .social{
    float: right;
    padding: 0 40px 0 0;
}

#home .social a img{
    height: 30px;
    display: block;
    margin: 30px 0;
}

#home .logotipo{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 85vh;
    z-index: -1;
}

#home .logotipo .center{
    width: 725px;
    margin: 200px auto 0 auto;
    position: relative;
}

#home .banner{
    max-width: 900px;
}

#home .banner img{
    width: 100%;
}

@media screen and (min-width: 1280px) {
    #home .logotipo .center{
        margin: 150px auto 0 auto;
    }
}

@media screen and (min-width: 1920px) {
    #home .logotipo .center{
        margin: 250px auto 0 auto;
    }
}

#home .logotipo img:first-of-type{
    opacity: .2;
    position: absolute;
}

#home .logotipo img:last-of-type{
    opacity: .6;
}


#lastEvent{
    padding: 50px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

#lastEvent .video{
    margin: 0 auto;
    display: block;
    position: relative;
}

#lastEvent .video iframe{
    border-radius: 20px;
}

#lastEvent img:last-of-type {
    right: 190px;
    height: 200px;
    transform: rotate(20deg);
    top: 300px;
}

#lastEvent img:first-of-type {
    left: 100px;
    height: 300px;
    transform: rotate(-30deg);
    top: 100px;
}

#lastEvent img {
    position: absolute;
    opacity: 0.3;
}

#lastEvent .quote{
   margin-top: 40px;
}

#lastEvent h1:after {
    content: 'Se liga como foi ';
    position: absolute;
    font-size: 18px;
    bottom: 40px;
    left: 50%;
    color: #f142b3;
    transform: translate(-50%);
}
 

#lastEvent .button-video{
    display: none;
}

#sobre .container{
   padding: 0 30%;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    line-height: 34px;
    font-size: 1.4em;
    color: #333;
}

#sobre .container p em{
    font-weight: 100;
    border-bottom: 2px solid #f142b3;
}

@media screen and (max-width: 490px){
    #sobre .container{
        padding: 0 15px;
    }
}

#sobre .container img{
    height: 85px !important;
}



#curator{
    padding: 50px 0 100px 0;
    text-align: center;
    position: relative;
}

#curator .quotes-st,
#curator .quotes-nd{
    position: absolute;
    height: 190px;
    opacity: .4;
}

#curator .quotes-st{
    top: 30px;
    left: 80px;
}

#curator .quotes-nd{
    bottom: 90px;
    right: 50px;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg); 
    
}

#curator .container{
    display: block;
    margin: 0 auto;
    width: calc(100% - 600px);
    position: relative;
}

#curator .container .flex{
     display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    position: relative;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

#curator .container .box{
    height: 180px;
    width: 160px;
    margin: 30px 55px 0 55px;
    background: #CCC;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-radius: 3px;
    transition-duration: .3s;
    border-top-left-radius: 15%;
    opacity: .7;
}

#curator .container a{
    text-decoration: none;
    color: #333;
}

#curator .container a:nth-child(1) .person .box{
    background-image: url("../res/rachel.jpg");
}

#curator .container a:nth-child(2) .person .box{
    background-image: url("../res/heitor.jpg");
}

#curator .container a:nth-child(3) .person .box{
    background-image: url("../res/renan.jpg");
}

#curator .container a:nth-child(4) .person .box{
    background-image: url("../res/felipe.jpg");
}

#curator .container a:nth-child(5) .person .box{
    background-image: url("../res/fidelis.jpg");
}

#curator .container a:nth-child(6) .person .box{
    background-image: url("../res/marcos.jpg");
}

#curator .container .box .hover{
    height: 100%;
    width: 100%;
    display: none;
    background: linear-gradient(transparent, rgba(0,0,0, .4));
    animation: fadein 1s;
    -webkit-animation: fadein .3s;
    -moz-animation: fadein .3s;
}

#curator .container .box:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transform: translateY(-10px);
    opacity: 1;
}

#curator .container .box:hover .hover{
    display: block;
    
}

#curator .container .person p.name{
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0 0 0;
}

#curator .container .person p.name::after {
    content: '';
    background: url(/res/line.png) no-repeat center;
    background-size: contain;
    display: block;
    height: 1.77vw;
    width: 90px;
    margin: 0 auto;
    opacity: .5;
}

#curator .container .person ul{
    list-style: none;
    padding: 0;
    font-size: .8em;
    margin-top: 5px;
}

#curator .container .person ul li{
    margin-bottom: 4px;
}

#curator .container .person .ghost{
    color: #FFF;
}

@-webkit-keyframes fadein{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

#curator .container .box .hover img{
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#curator .quote{
    position: absolute;
    right: 70px;
    bottom: -80px;
    transform: rotate(4deg);
}


#categories{
    height: 100%;
    padding: 0 0 100px 0;
    text-align: center;
}

#categories .container{
    display: block;
    margin: 0 auto;
    width: calc(100% - 600px);
}

#categories .container .flex{
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
}

#categories .container .flex .box{
    height: 160px;
    width: 33.3%;
    margin: 10px;
    padding: 0 30px;
}

#categories .container .flex .box .img{
    background: #333;
    width: 50px;
    margin: 0 auto;
    border-radius: 30%;
    height: 50px;
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    opacity: .7;
}

#categories .container .flex .box:hover .img{
    opacity: 1;
}

#categories .container .flex .box .img img{
    margin-top: 5px;
}

#categories .container .flex .box .title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4em;
    color: #333;
}

#categories .container .flex .box .title::after{
    content: '';
    background: url(/res/line.png) no-repeat center;
    background-size: contain;
    display: block;
    height: 1.77vw;
    width: 90px;
    margin: 0 auto;
    opacity: .5;
}

#categories .container .flex .box .desc{
    text-align: center;
}

/*FIRST*/
#categories .container .flex:first-of-type .box:nth-child(1):hover .img{
    background-color: #1B85B8;
}

#categories .container .flex:first-of-type .box:nth-child(1):hover .title{
    color: #1B85B8;
}

/*SECOND*/
#categories .container .flex:first-of-type .box:nth-child(2):hover .img{
    background-color: #559E83;
}

#categories .container .flex:first-of-type .box:nth-child(2):hover .title{
    color: #559E83;
}

/*THIRD*/
#categories .container .flex:first-of-type .box:nth-child(3):hover .img{
    background-color: #AE5A41;
}

#categories .container .flex:first-of-type .box:nth-child(3):hover .title{
    color: #AE5A41;
}

/*FOURTH*/
#categories .container .flex:last-of-type .box:nth-child(1):hover .img{
    background-color: #998AC0;
}

#categories .container .flex:last-of-type .box:nth-child(1):hover .title{
    color: #998AC0;
}

/*FIFTH*/
#categories .container .flex:last-of-type .box:nth-child(2):hover .img{
    background-color: #ED6D79;
}

#categories .container .flex:last-of-type .box:nth-child(2):hover .title{
    color: #ED6D79;
}

/*SIXTY*/
#categories .container .flex:last-of-type .box:nth-child(3):hover .img{
    background-color: #007F74;
}

#categories .container .flex:last-of-type .box:nth-child(3):hover .title{
    color: #007F74;
}


#maps{
    text-align: center;
    padding: 0 0 50px 0;
}

#maps .flex{
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
}

#maps .flex .box{
    width: 33.3%;
    height: 350px;
}

#maps .flex.st .box,
#maps .flex.nd .box{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    transition-duration: .2s;
    opacity: .8;
}

#maps .flex.st .box:hover,
#maps .flex.nd .box:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    opacity: 1;
}

#maps .flex.st .box:nth-child(1){
    background-image: url('../res/pre6.jpg');
}

#maps .flex.st .box:nth-child(2){
    background-image: url('../res/pre1.jpg');
}

#maps .flex.st .box:nth-child(3){
    background-image: url('../res/pre3.jpg');
}

#maps .flex.nd .box:nth-child(1){
    background-image: url('../res/pre4.jpg');
}
#maps .flex.nd .box:nth-child(2){
    background-image: url('../res/pre2.jpg');
}
#maps .flex.nd .box:nth-child(3){
    background-image: url('../res/pre5.jpg');
}

#maps .maps-overlay{
   background:transparent; 
   position:relative; 
   width:100%;
   height:450px; /* your iframe height */
   top:450px;  /* your iframe height */
   margin-top:-450px;  /* your iframe height */
}

@media screen and (max-width: 1390px){
    #curator .container,
    #categories .container{
        width: calc(100% - 300px);
    }
    
    #home .box{
        width: 70%;
    }
}

#maps .container{
    padding: 50px 16.33% 200px 16.33%;
    text-align: left;
}

#maps .container .local{
    height: 400px;
    display: inline-block;
    float: left;
    border-top-left-radius: 40%;
}

@media screen and (max-width: 1280){
    #maps .container .local{
        height: 240px;
    }
}

@media screen and (max-width: 1440px){
    #maps .container .local{
        height: 340px;
    }
}

#maps .container .content .title{
    font-size: 4em;
    font-weight: 800;
    color: #dd3ea5;
    text-transform: uppercase;
    transform: translateX(-50px);
    margin: 0;
}

#maps .container .content .desc{
    transform: translateX(20px);
    margin: 40px 0 10px 0;
    text-align: justify;
}

#maps .container .content .flag{
    height: 50px;
    padding: 20px 15px 0 20px;
    display: inline-block;
    vertical-align: bottom;
}

#maps .container .content .city{
    display: inline;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 800;
    color: #2070BA;
}

/*MOBILE*/
@media only screen and (max-device-width: 490px) {
    #home{
        height: 100%;
    }
    
    #home .social,
    #home .logotipo{
        display: none;
    }
    
    #home h1{
        font-size: 2.2em;
        padding: 0;
    }
    
    #curator .container, 
    #categories .container{
        width: 100%;
    }
    
    #curator .container .flex,
    #categories .container .flex,
    #maps .flex,
    #footer .container{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        width: 100%;
    }
    
    #maps .flex .box{
        width: 100%;
    }
    
    #newsletter form input[type="email"]{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    
    #footer .container{
        padding: 0;
    }
    
    #footer .box:first-of-type img{
        margin: 0;
    }
    
    #curator{
        padding-bottom: 50px;
    }
    
    #categories{
        padding-bottom: 30px;
    }
    
    #curator .container .box{
        height: 130px;
        width: 130px;
        margin: 20px 20px 0 20px;
        
    }
    
    #curator .container .person p.name::after{
        margin-top: 10px;
    }
    
    #categories .container .flex .box{
        height: 100px;
        width: 32%;
        margin: 2px;
        padding: 0;
    }
    
    #categories .container .flex .box .title{
        font-size: 1em;
    }
    
    #categories .container .flex .box .title::after{
        display: none;
    }
    
    #lastEvent{
        padding-bottom: 0;
    }
    
    #lastEvent h1:after{
        bottom: 30px;
    }
    
    #lastEvent .video{
        display: none;
    }
    
    #lastEvent .button-video{
        border: 1px solid #000;
        border-radius: 3px;
        padding: 20px;
        text-decoration: none;
        position: relative;
        display: block;
        width: 70%;
        margin: 0 auto;
        background: #FFF;
        color: #000;
        font-size: 1.1em;
    }
    
    #lastEvent .button-video:before{
        left: 50px;
    }
    
    #lastEvent .button-video:after{
        left: 80px;
    }
    
    #lastEvent .quote{
        margin-top: 70px;
        font-size: .8em;
    }
    
    #lastEvent .button-video:before {
        content: '';
        background-image: url(../res/curved.png);
        height: 20px;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 20px;
        bottom: -30px;
        left: 100px;
        opacity: .6;
    }
    
    #lastEvent .button-video:after{
        content: 'Clique para ver o vídeo!';
        color: #000;
        position: absolute;
        font-size: 0.8em;
        left: 130px;
        bottom: -30px;
        opacity: .6;
    }
}

@media only screen and (max-device-width: 768px) and (max-device-height: 1024px){
    #curator .container, 
    #categories .container {
        width: 90%;
    }
    
    #footer .box:first-of-type img{
        margin: 0;
    }
}